.spacer {
    flex: 1 1 auto;
  }
  
  .content {
    padding: 20px;
  }
  .i2{
    padding-top: 5px;
    background-color: lightgoldenrodyellow;
    margin-top: 5px;
    margin-bottom: 5px;

  }
  .i4{
    width:30px;
    height:30px;
    padding-right: 20px;
    padding-top: 8px;
  }
 
